{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<aside class="language-bar">
    <ul class="language__list">
        {% get_available_languages as LANGUAGES %}
        {% get_current_language as CURRENT_LANGUAGE %} 
        {% for lang in LANGUAGES %}
        <li>
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input type="hidden" name="language" value="{{ lang.0 }}">
                <button class="language__item{% if lang.0 == CURRENT_LANGUAGE %} active{% endif %}" type="submit">{{ lang.0.upper }}</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</aside>
<header
    id="banner"
    data-banners="{{ banners }}"
>
    <div class="container">
        <h2 class="header__title">{% translate 'Welcome to <br>Ak Ýol | PET' %}</h2>
        <p class="header__promo">
            {% translate 'Order your pet bottles today and start enjoying your favorite drinks in a safe and sustainable way!' %}
        </p>
        <a href="" class="confetti-button header__more_btn">{% translate 'Load More' %}</a>
    </div>
</header>
<section id="promo">
    <div 
        class="container"
        data-aos="zoom-in-up"
        data-aos-duration="2000"
    >
        <div class="left-floating-item"></div>
        <h1 class="promo-text">
            {% blocktranslate %}
            Our pet bottles 
            <br>
            are the best
            {% endblocktranslate %}
        </h1>
        <div class="right-floating-item"></div>
    </div>
</section>
<section id="products" class="bordered-bg">
    <div class="container">
        <h1 class="section-title">{% translate 'Our products' %}</h1>
        <div class="goods">
            <a 
                href="{% url 'preforms-list' %}" 
                class="good-item"
                data-aos="fade-right"
                data-aos-duration="1000"
            >
                    <img src="{% static 'images/preform.png' %}" alt="" class="good-item__image">
                    <h3 class="good-item__title">{% translate 'Preforms' %}</h3>
            </a>
            <a 
                href="{% url 'bottlecaps-list' %}"
                class="good-item"
                data-aos="fade-left"
                data-aos-duration="1000"
                data-aos-delay="800"
            >
                    <img src="{% static 'images/bottlecap.png' %}" alt="" class="good-item__image">
                    <h3 class="good-item__title">{% translate 'Bottle Caps' %}</h3>
            </a>
        </div>
    </div>
</section>
<script src="{% static 'js/banners.js' %}" ></script>
{% include 'contact_block.html' %}
{% endblock %}
