{% extends 'base.html' %}

{% block content %}
<aside class="language-bar">
    <ul class="language__list">
        <li><a href="" class="language__item active">EN</a></li>
        <li><a href="" class="language__item">RU</a></li>
        <li><a href="" class="language__item">TM</a></li>
    </ul>
</aside>
<header>
    <div class="container">
        <h2 class="header__title">Welcome to <br>Ak Ýol | PET</h2>
        <p class="header__promo">
            Order your pet bottles today
            and start enjoying your 
            favorite drinks in a safe and
            sustainable way!
        </p>
        <a href="" class="confetti-button header__more_btn">Load More</a>
    </div>
</header>
{% endblock %}
