{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<header
    id="banner"
>
    {% for banner in banners %}
    <div class="container" style="background-image: url('{{ banner.image.url }}');">
        <h2 class="header__title">{{ banner.title }}</h2>
        <p class="header__promo">
            {{ banner.subtitle }}
        </p>
        <a href="" class="confetti-button header__more_btn">{% translate 'Load More' %}</a>
    </div>
    {% endfor %}
</header>
<section id="promo">
    <div 
        class="container"
        data-aos="zoom-in-up"
        data-aos-duration="1000"
    >
        <h1 class="promo-text">
            {% blocktranslate %}
            Our pet bottles 
            <br>
            are the best
            {% endblocktranslate %}
        </h1>
    </div>
</section>
<section id="products">
    <div class="container">
        <h1 class="section-title">{% translate 'Our products' %}</h1>
        <div class="goods">
            <a 
                href="{% url 'preforms-list' %}" 
                class="good-item"
                data-aos="fade-right"
                data-aos-duration="1000"
            >
                    <img src="{% static 'images/preform.png' %}" alt="" class="good-item__image">
                    <h3 class="good-item__title">{% translate 'Preforms' %}</h3>
            </a>
            <a 
                href="{% url 'bottlecaps-list' %}"
                class="good-item"
                data-aos="fade-left"
                data-aos-duration="1000"
                data-aos-delay="100"
            >
                    <img src="{% static 'images/bottlecap.png' %}" alt="" class="good-item__image">
                    <h3 class="good-item__title">{% translate 'Bottle Caps' %}</h3>
            </a>
        </div>
    </div>
</section>
{% include 'contact_block.html' %}
{% endblock %}
