{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,700&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bubble_confetti.css' %}">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/brands.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/solid.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  </head>
  <body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.html' %}
    <script src="{% static "js/gsap-latest-beta.min.js" %}"></script>
    <script src="{% static "js/navbar.js" %}"></script>
    <script src="{% static "js/bubble_confetti.js" %}"></script>
    <script src="{% static "js/aos.js" %}"></script>
    <script src="{% static "js/sweetalert2.all.min.js" %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/banners.js' %}" ></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
