{% load static %}
<section id="contac-us">
    <div class="container">
        <h1 
            class="section-title aos-init aos-animate" 
            data-aos="fade-up"
            data-aos-duration="600"
        >
            Contact Us
        </h1>
        <div class="row">
            <form
                action="{% url 'contact-us' %}"
                id="contact-form"
                class="col-7"
                method="post"
                data-aos="fade-up"
                data-aos-duration="6000"
                data-aos-delay="600"
            >
                {% for field in contact_form %}
                    <label for="">{{ field.label }}</label>
                    <small class="form__errors">{{ field.errors }}</small>
                    {{ field}}
                {% endfor %}
                <button type="submit" class="confetti-button">Send</button>
            </form>
            <div 
                class="col-3 contact-detail"
                data-aos="fade-up"
                data-aos-duration="600"
                data-aos-delay="1200"
            >
                <h3>You can also contact us through the links below:</h3>
                <div class="contact-link__list">
                    <div class="contact-link__item"><p class="contact-link__data"><i class="fa-solid fa-phone text-lg"></i> +99365555555</p></div>
                    <div class="contact-link__item"><p class="contact-link__data"><i class="fa-solid fa-map-pin text-lg"></i> +99365555555</p></div>
                    <div class="contact-link__item"><p class="contact-link__data"><i class="fa-solid fa-envelope text-lg"></i> +99365555555</p></div>
                    <div class="contact-link__item"><p class="contact-link__data"><i class="fa-brands fa-instagram text-lg"></i> +99365555555</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/send_email.js' %}"></script>