{% load static i18n %}
<div class="top-bar">
	<div class="nav-toggle">
		<div class="bars"></div>
	</div>
	<a href="{% url 'home' %}"><img src="{% static 'images/logo.webp' %}" alt=""></a>
	<div class="nav-right">
		<a href="tel:+99365555555" class="phone-num"><i class="fa-solid fa-phone"></i> +99312 33-53-75</a>
		<ul class="language__list">
			{% get_available_languages as LANGUAGES %}
			{% get_current_language as CURRENT_LANGUAGE %} 
			{% for lang in LANGUAGES %}
			<li>
				<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
					<input type="hidden" name="language" value="{{ lang.0 }}">
					<button class="language__item{% if lang.0 == CURRENT_LANGUAGE %} active{% endif %}" type="submit">{{ lang.0.upper }}</button>
				</form>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<nav>
		<img src="{% static 'images/logo.webp' %}" alt="" class="nav__logo">
		<div class="close">
			<div></div>
		</div>
		<ul>
			<li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
			<li id="prod-link"><a href="{% url 'home' %}#products">{% translate 'Products' %}</a></li>
			<li><a href="{% url 'contact-us' %}">{% translate 'Contact' %}</a></li>
			<li><a href="{% url 'about-us' %}">{% translate 'About Us' %}</a></li>
		</ul>
</nav>
