{% load static i18n %}
<div class="top-bar">
	<div class="nav-toggle">
		<div class="bars"></div>
	</div>
	<a href="{% url 'home' %}"><img src="{% static 'images/logo.webp' %}" alt=""></a>
	<a href="tel:+99365555555" class="phone-num"><i class="fa-solid fa-phone"></i> +99312 33-53-75</a>
</div>
<nav>
		<img src="{% static 'images/logo.webp' %}" alt="" class="nav__logo">
		<div class="close">
			<div></div>
		</div>
		<ul>
			<li><a href="{% url 'home' %}">{% translate 'Home' %}</a></li>
			<li><a href="{% url 'preforms-list' %}">{% translate 'Products' %}</a></li>
			<li><a href="{% url 'contact-us' %}">{% translate 'Contact' %}</a></li>
		</ul>
</nav>
