{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div style="margin-bottom: 7rem;"></div>
<main>
    <div class="container">
        <h1 class="section-title">{% translate 'Preforms' %}</h1>
        <div class="products">
            {% for preform in preforms %}
            <a
                class="product"
                href="{{ preform.get_absolute_url }}"
                data-aos="zoom-in"
                data-aos-duration="1000"
            >
                <img src="{{ preform.image.url }}" alt="" class="product__image">
                <h3 class="product__title">{{ preform.preform_size }}mm ({{ preform.weight }}g)</h3>
            </a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}